.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 24px 243px 0 604px;
}

.u-section-1 .u-line-1 {
  margin-top: 15px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1234px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 15px 30px;
}

.u-section-1 .u-group-1 {
  min-height: 261px;
  width: 316px;
  margin: 119px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 205px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1234px;
}

.u-section-1 .u-container-layout-3 {
  padding: 11px 0;
}

.u-section-1 .u-group-2 {
  min-height: 52px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 72px 60px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 42px 60px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-1 .u-text-1 {
    width: 130px;
    margin-right: 143px;
    margin-left: 504px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1018px;
  }

  .u-section-1 .u-group-1 {
    width: 268px;
  }

  .u-section-1 .u-image-1 {
    width: 254px;
    height: 203px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1018px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 33px;
    margin-left: 394px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 780px;
  }

  .u-section-1 .u-group-1 {
    width: 198px;
  }

  .u-section-1 .u-image-1 {
    width: 184px;
    height: 147px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1598px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 247px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 690px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 47px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -25px;
  }
}